extends layout

block content
  h2 Welcome To Create Page!
  br
  form(action='/topic/create', method='post')
    p
      input(type='text', name='title', placeholder='title')
    p
      textarea(name='description', placeholder='description')
    p
      input(type='submit')


 
    


